

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #f7f3f2;
}
.wrapper{
	width: 1300px;
	margin: auto;

}
header {
	background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../images/bag4.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
	height: 60vh;
}
.nav-area{
	float: right;
	list-style: none;
	margin-top: 2.5%;
}
.nav-area li{
	display: inline-block;
}
.nav-area li a{
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family:poppins;
	font-size: 16px;
	font-family: "Trebuchet MS";
	letter-spacing: 0.01em;
}
.nav-area li a:hover{
	color: #5e5a59;
	transition: .7s;
}
.welcome-text{
	position: absolute;
	width: 60%;
	height: 30%;
	margin: 16% 20%;
	text-align: center;
}
.welcome-text h1{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 50px;
	font-family: "Trebuchet MS";
	letter-spacing: 0.5em;
}
.logo img{
	width: 15%;
	float: left;
	height: auto;
	margin-top: 1%;
	margin-left: 5%;
}

.contact{
	position: absolute;
	top: 120%;
	margin-bottom: 10%;
	float: right;
	transform: translateY(-50%);
	width: 100%;
	padding: 0 20px;
}
.contact h1{
	font-style: sans-serif;
	color: #3d3d29;
    font-size: 25px;
    font-family: sans-serif;
    text-shadow: 3px 3px black;

}
.contact-form{
	max-width: 650px;
	margin: auto;
	background: rgba(0,0,0,0.6);
	padding: 40px;
    box-shadow: 15px 12px #f794a5;
    float: right;
    margin-right: 2%;
}
.input-fields{
	display: block;
	width: 100px;
	box-sizing: border-box;
}
.input-fields,
.msg{
	width: 100%;
}
.input-fields .input,
.msg textarea{
	margin: 10px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid #c5ecfd;
	padding: 10px;
	color: #c5ecfd;
	width: 100%;
}

.msg textarea{
	height: 210px;

}
::-webkit-input-placeholder{
	color: #fff;
}
::-moz-input-placeholder{
	color: #fff;
}
::-ms-input-placeholder{
	color: #fff;
}

.btn{
	background: #fff;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	text-transform: uppercase;
}
.btn:hover{
	background: #f794a5;
	color: #fff;
	transition: .7s;
}
@media screen and (max-width: 600px){
	.contact-form{
		display: block;
	}
	.msg textarea{
		height: 80px;
	}
	.input-fields,
	.msg{
		width: 100px;
	}
}
}
.selection{
	margin-left: 90%;
	margin-right: 20%;
	list-style: none;
}
.selection li{
	display: inline-block;
}
.selection li a{
	color: #615c5c;
	text-decoration: none;
	padding: 5px 20px;
	font-family:poppins;
	font-size: 17px;
	font-family: "Trebuchet MS";
	letter-spacing: 0.05em;
	margin-left: 900%;
}
.selection li a:hover{
	color: #000;
	transition: .7s;
}
h4{
	font-family: "Trebuchet MS";
	font-size: 180%;
	color: #615c5c;
	margin-left: 17%;
}
blockquote{
	color: #7d7878;
	font-size: 100%;
    margin-top: 1%;
	margin-left: 12%;
}
hr{
	margin-left: 10%;
	margin-right: 50%;
	color: #615c5c;
}
h5{
	margin-left: 12%;
	margin-top: 1%;
	font-size: 110%;
	color: #615c5c;
}
img{
	margin-left: 10%;
	margin-top: 1%; 
}
footer{
	font-family: sans-serif;
	background-color: #e6e6e6;
	border-top: 13px solid #f794a5;
	color: black;
	height: 160px;
	font-size: 13px;
	margin-top: 5%;

}
footer img{
    float: left;
    margin-top: 2%;
    margin-left: 8%;

}
.container{
width: 900px;
margin-left: auto;
margin-right: auto;
}
.container .right{
	width: 400px;
	float: right;
	margin-top: 1.3%;
	margin-left: 10%;
}
.about{
	width: 900px;
}
.about .follow{
	float: right;
	margin-left: 10%;
}
h5{
	font-size: 120%;
	color: #f794a5;
	text-shadow: 1px 1px black;
}
.about blockquote{
	color: #615c5c;
	
}
.about blockquote:hover{
	color: #000;
	transition: .6s;
}